@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
    /*profile*/
    --blue: hsl(246, 80%, 60%);
    /*work */
    --lightred: hsl(15, 100%, 70%);
    /*play */
    --softblue: hsl(195, 74%, 62%);
    /*study */
    --lightred2: hsl(348, 100%, 68%);
    /*exercise */
    --limegreen: hsl(145, 58%, 55%);
    /*social */
    --violet: hsl(264, 64%, 52%);
    /*selfcare */
    --softorange: hsl(43, 84%, 65%);

    /*neutral colors */
    --vdBlue: hsl(226, 43%, 10%);
    --dBlue: hsl(235, 46%, 20%);
    --desaturatedBlue: hsl(235, 45%, 61%);
    --paleBlue: hsl(236, 100%, 87%);




    --fs: 18px;
    /* (card titles e.g. Work, Play) ### */
    --ff: 'Rubik', sans-serif;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-decoration: none;
    list-style: none;
    font-family: var(--ff);
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: var(--vdBlue);
    padding: 8.1rem 2.4rem;
}

.content {
    width: 100%;
    height: auto;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.4rem;
}

@media screen and (min-width: 500px) {
    .content {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-template-rows: 1fr 1fr;
        min-height: 51.8rem;
        gap: 3rem;
    }
}

@media screen and (min-width: 1110px) {
    .content {
        max-width: 111rem;
    }
}