@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
    /*profile*/
    --blue: hsl(246, 80%, 60%);
    /*work */
    --lightred: hsl(15, 100%, 70%);
    /*play */
    --softblue: hsl(195, 74%, 62%);
    /*study */
    --lightred2: hsl(348, 100%, 68%);
    /*exercise */
    --limegreen: hsl(145, 58%, 55%);
    /*social */
    --violet: hsl(264, 64%, 52%);
    /*selfcare */
    --softorange: hsl(43, 84%, 65%);

    /*neutral colors */
    --vdBlue: hsl(226, 43%, 10%);
    --dBlue: hsl(235, 46%, 20%);
    --desaturatedBlue: hsl(235, 45%, 61%);
    --paleBlue: hsl(236, 100%, 87%);




    --fs: 18px;
    /* (card titles e.g. Work, Play) ### */
    --ff: 'Rubik', sans-serif;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

body {
    text-decoration: none;
    list-style: none;
    font-family: var(--ff);
    display: flex;
    place-items: center;
    width: 100%;
    background-color: var(--vdBlue);
    padding: 4rem 2.4rem;
}

.content {
    width: 100%;
    height: auto;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.4rem;
}

@media screen and (min-width: 500px) {
    .content {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-template-rows: 1fr 1fr;
        min-height: 51.8rem;
        gap: 3rem;
    }
}

@media screen and (min-width: 1110px) {
    .content {
        max-width: 111rem;
    }
}

.card__profile {
    background-color: var(--dBlue);
    border-radius: 1.5rem;
    overflow: hidden;
    width: 100%;
}

@media screen and (min-width: 500px) {
    .card__profile {
        grid-row: 1/3;
        display: flex;
        flex-flow: column nowrap;
    }
}

.card__profile_details {
    width: 100%;
    padding: 3.1rem 2.9rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    background-color: var(--blue);
    border-radius: 0 0 1.5rem 1.5rem;
}

@media screen and (min-width: 500px) {
    .card__profile_details {
        padding: 3.4rem 2.9rem 8rem 2.9rem;
        flex-flow: column nowrap;
        align-items: start;
        gap: 4.3rem;
        flex: 1 0 auto;
    }
}

.card__profile_details_img {
    width: 6.4rem;
    border: 0.3rem solid white;
    border-radius: 50%;
}

@media screen and (min-width: 500px) {
    .card__profile_details_img {
        width: 7.8rem;
    }
}

.card__profile_details_text {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.4rem;
}

@media screen and (min-width: 500px) {
    .card__profile_details_text {
        gap: 0.3rem;
        max-width: 60%;
    }
}

.card__profile_details_text p {
    font-size: 1.5rem;
    font-weight: var(--fw-light);
    color: var(--paleBlue);
}

.card__profile_details_text h2 {
    font-size: 3rem;
    font-weight: var(--fw-light);
    color: #fafafa;
}

@media screen and (min-width: 500px) {
    .card__profile_details_text h2 {
        line-height: 4rem;
    }
}

.card__profile_buttons {
    padding: 2.4rem 2rem 2.5rem 3.3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;
}

@media screen and (min-width: 500px) {
    .card__profile_buttons {
        flex-flow: column nowrap;
        gap: 2.1rem;
        padding: 2.6rem 3.2rem 3.2rem;
    }
}

.card__profile_buttons button {
    width: max-content;
    font-size: 1.4rem;
    color: var(--paleBlue);
    transition: color 250ms;
    cursor: pointer;
}

.card__profile_buttons button:is(:hover, .active) {
    color: #fafafa;
}

.card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 3.8rem 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
    border-radius: 1.5rem;
}

@media screen and (min-width: 500px) {
    .card {
        grid-template-rows: 4.5rem 1fr;
    }
}

.card:is(.work) {
    --background: var(--lightred);
}

.card:is(.play) {
    --background: var(--softblue);
}

.card:is(.study) {
    --background: var(--lightred2);
}

.card:is(.exercise) {
    --background: var(--limegreen);
}

.card:is(.social) {
    --background: var(--violet);
}

.card:is(.self-care) {
    --background: var(--softorange);
}

.card__img {
    grid-row: 1/3;
    grid-column: 1/2;
    display: grid;
    place-items: start end;
    background-color: var(--background);
    height: 70%;
}

.card__img>img {
    transform: translate(-2rem, 0rem);
    position: relative;
    z-index: 1;
}

.exercise .card__img img {
    transform: rotate(-45deg);
}

.card__timeframe {
    position: relative;
    z-index: 2;
    grid-row: 2/3;
    grid-column: 1/2;
    background: var(--dBlue);
    transition: background 250ms, transform 250ms;
    height: 100%;
    padding: 2.8rem 2.4rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.6rem;
    cursor: pointer;
}

.card:hover>.card__timeframe {
    background: var(--desaturatedBlue);
}

@media screen and (min-width: 500px) {
    .card__timeframe {
        gap: 2.4rem;
        padding: 2.9rem 3rem 3.2rem;
    }
}

.header,
.timeframes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

@media screen and (min-width: 500px) {
    .timeframes {
        flex-flow: column nowrap;
        align-items: start;
        gap: 0.8rem;
    }
}

.header {
    color: #fafafa;
    font-weight: var(--fw-regular);
    font-size: 1.2rem;
}

.header__menu {
    transition: #fafafa 250ms;
}

.header__menu:hover>svg path {
    fill: #fafafa;
}

.current {
    font-size: 4rem;
    font-weight: var(--fw-light);
    color: #fafafa;
    line-height: 6.6rem;
}

.previous {
    display: flex;
    font-size: var(--fs);
    color: var(--paleBlue);
}